
.chapter {
    position: relative;
  }
  
  .has-art > a {
    padding-left: 35px !important;
  }
  
  .exc-trigger {
    position: absolute;
    left: 15px;
    top: 12px;
  }
  
  .exc-trigger:before {
    content: "\f105";
  }
  
  .expanded .exc-trigger:before {
    content: "\f107" !important;
  }
  
  
  